body {
    margin: 0;
}

#topbar {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00478d;
    /* padding-bottom: 20px; */
}

.fl_left {
    width: auto;
    display: flex;
    align-items: center;
}

.fl_left > li {
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 25px;
}

.langs {
  display: flex;
  flex-direction: column;
}

.langs > li {
  list-style-type: none;
}

*{
  box-sizing: border-box;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}



.faicon-facebook, .faicon-pinterest, .faicon-dribble, .faicon-linkedin {
  color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #036;
}

.wrapper {
    width: 100%;
    /* max-width: 100%; */
    margin: auto;
    overflow: hidden;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 42.5%;
    background: #ddd;
  }
  
  /* Images */
  
  .carousel-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    -webkit-transition: opacity ease-out 0.5s;
    transition: opacity ease-out 0.5s;
  }
  
  .carousel-img-displayed {
    display: block;
    opacity: 1;
    z-index: 2;
  }
  
  .carousel-img-hidden {
    display: block;
    opacity: 0;
    z-index: 1;
  }
  
  .carousel-img-noDisplay {
    display: none;
  }
  
  /* Flèches de défilement */
  
  .carousel-arrow {
    z-index: 3;
    display: block;
    position: absolute;
    /* width: 36px;
    height: 36px; */
    width: 49px;
    height: 49px;
    top: 50%;
    margin-top: -18px;
    border-radius: 50%;
    border: 0;
    background-color: #fff;
    background-image: url("http://res.cloudinary.com/dnqehhgmu/image/upload/v1509720334/blue-arrow_jk1ydw.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    cursor: pointer;
    -webkit-transition: background-size 0.15s ease-out;
    transition: background-size 0.15s ease-out;
  }

  .carousel-arrow:hover,
  .carousel-arrow:focus {
    background-size: 22px 22px;
  }
  
  .carousel-arrow-next {
    right: 20px;
  }
  
  .carousel-arrow-prev {
    left: 20px;
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
  }
  

.logo {
    width: 200px;
    padding: 10px;
}

.carousel > img{
    width: 100%;
}

.dropdown {
    float: right;
} 

.dropdown {
    height: auto;
    text-align: center;
    padding-left: 10px;

}

.dropdown > p {
    border-radius: 15px;
    background-color: rgba(56, 91, 126, 0.74);
    padding: 10px;

    color: white;
    font-size: 24px;
}

.news {
  padding-left: 15px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news1 , .news2 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  margin-top: 10px;
}

.news1-img , .news2-img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 300px;
  width: 250px;
}

.news1-text , .news2-text {
  display: flex;
  padding-left: 15px;
  flex-direction: column;
}

.twitter-share-button {
  margin: 10px;
}

h4 {
  font-size: 24px;
}

/*////////////////////////////*/

.event-calendar {
  padding-left: 15px;
  /* width: 45%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.calendar-wrap {
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: azure;
}

.event-calendar1 , .event-calendar2 , .event-calendar3 , .event-calendar4 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
}

.event-calendar1-img , .event-calendar2-img , .event-calendar3-img , .event-calendar4-img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 300px;
  width: 250px;
}

.event-calendar1-text , .event-calendar2-text , .event-calendar3-text , .event-calendar4-text {
  display: flex;
  padding: 15px;
  justify-content: space-around;
  flex-direction: row;

}

h4 {
  font-size: 24px;
}

.events-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

footer {
  margin-top: 50px;
  width: 100%;
  background-color: #333;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #d4d4d4;
  align-items: center;
}

/* ul {
  list-style: none;
} */

.linklist > li {
  list-style: none;
  
}
.linklist > li > a {
  text-decoration: none;
  color: #7aafff;
}

#thumb1-i , #thumb2-i , #thumb3-i , #thumb4-i {
  cursor: pointer;
}
